#seccion-carta img{
    border: 50%;
    max-width: 60%;
}

#seccion-sucursales img {
    border-radius: 10px;
    max-width: 150px;
}

.row-cols-1 {
    gap: 32px;
}

#seccion-contacto textarea,
.form-control{
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
}
